.addContent{
    float: right;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image{
    float:left;
    width: 30%;
    height: 50%;

}

/* article section */
.articleInput{
    float: left;
    width: 70%;
    height: 50%;
}
.article{
    top: 30%;
    width: 90%;
    height: 80%;
    text-align: initial;
    resize: none;
    border-radius: 3px;

    font-family: Arial, Helvetica, sans-serif;
}

.articleHeader{
    top: 15%;
    width: 90%;
    height: 5%;
    text-align: initial;
    resize: none;
    border-radius: 3px;

    font-family: Arial, Helvetica, sans-serif;

}

.article:focus{
}

/* article setting */
.articleSetting{
    float:left;
    width: 100%;
    height: 5%;
}
.articleSetting ul{overflow: hidden;}
.articleSetting ul li{
    display: inline-block;
    text-align: center;
    width:24%;
    height: 100%;
}
.articleSetting ul li:last{
    border-right: 0px;
}
