.tweet_container {
    flex-grow: 1;
    padding: 12px;
    overflow: scroll;
}

.tweet_container::-webkit-scrollbar{
    width: 0;
}

.username {
    font-size: 12px;
    text-align: left;
}

.content {
    word-wrap: break-word;
}

.add_tweet_container {
    margin: 12px 0;
}
