.tweets {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    width: 20%;
    transition: all 0.3s;
}

#id {

}

.tweet_form{
    justify-content: center;
    text-align: center;
}



.tweet_container::-webkit-scrollbar{
    width: 1em;
    color: red;
}

.tweet_container {
    height: 90%;
    overflow: scroll;
    white-space: nowrap;
}

/* .tweet_container a {
display: inline-block;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
} */

    /* .tweet_container a:hover {
    background-color: #777;
    } */
