.options{
    height: auto;
    font-size: 1.5vw;
}

.menu-val{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 90%;
    font-size: 1.5vw;
}

.shareables_container {
    height: 35vh;
    overflow: scroll;
    white-space: nowrap;
}
.shareables_container::-webkit-scrollbar {
    display: none;
}