.menu {
    position: relative;
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    font-size: 1.5vw;
    transition: all 0.3s;
}
