.collapsible-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    width: 20%;
    transition: all 0.3s;
}

.collapse-button {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    z-index: 10;
    transition: all 0.3s;
}

.menu-views {
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-views > span {
    line-height: 16px;
    font-size: 16px;
    text-transform: capitalize;
}
