header {
    width: 100%;
    height: 24px;
    padding: 8px 0;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}


.scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('map.png');
}

h1 {
    margin: 0;
    margin-left: 20px;
    margin-left: 1em;
}

.articlePopUp{
    left: 50px;
    width: 300px;
    height: 300px;
    background-color: aqua;
    border-radius: 50%;
}

.articlePopUp .strongg{
    position: relative;
    display: inline-block;
    top: 150px;
    vertical-align: middle;
    text-align: center;
}
