.news-container {
    flex-grow: 1;
    overflow: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.news-container::-webkit-scrollbar {
    display: none;
}

.news-article {
    display: inline-block;
    width: 96%;
    height: 0;
    padding-bottom: 100%;
    color: white;
    text-decoration: none;
}

.news-article * {
    color: white;
    text-decoration: none;
}
