.content_container {
    height: 35vh;
    overflow: scroll;
    white-space: nowrap;
}

.content_container::-webkit-scrollbar {
    display: none;
}

.userContainer{
    width: 90%;
    height: 50%;
    overflow-y: scroll;
}

.userContainer::-webkit-scrollbar {
    display: none;
}

.user{
    width: 90%;
    height: 20%;
    background-color: red;
}

.user-val{
    width: 100%;
    height: 10%;
}

.user-val span{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.user-val button{
    color: red;
}

.squareHolder{
    color: red;
    height: 10vh;
    width: 40%;
    margin: 5vw;
    border: 1px solid red;
}

.reports {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.reports::-webkit-scrollbar {
    display: none;
}

.text_area, form {
    width: 80%;
}

.text_area {
    height: 60px;
}

