.collapse-button {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 40px;
    font-size: 16px;
    color: #1D3557;
    background-color: #F1FAEE;
    border: 1px solid #1D3557;
    line-height: 40px;
    z-index: 9999;
    transition: all 0.3s;
}
