header {
    width: 100%;
    height: 24px;
    padding: 1.5vh 0;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
}

header > :first-child {
    margin-left: 16px;
    font-size: 1.25em;
}

header > :not(:first-child) {
    font-size: 1em;
}

header > div * {
    font-size: 1em;
}

.fas {
    margin: 0 6px;
}
