header {
    width: 100%;
    height: 24px;
    padding: 1.5vh 0;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
}

.siteTitle {
    margin-left: 1em;
    font-size: 1.5em;
}

.currentDate {
    font-size: 1em
}

.userStatus {
    font-size: 1em;
}
