h2 {
    margin: 0;
}

button {
    background: none;
    color: inherit;
	border: none;
	/* font: inherit; */
	cursor: pointer;
    outline: inherit;
    font-size: 1.2vw;
}

button:hover {
    color:red;
}

.userStatus {
    margin-right: 20px;
}

.message {
    font-size: 1.25vw;
}

.login {
    width: 400px;
    height: 200px;
    position: absolute;
    top: calc(10vh);
    right: 20vw;
    z-index: 9999;
    background-color: #2f5b7c;
}

.signUp {
    width: 400px;
    height: 200px;
    position: absolute;
    top: calc(10vh);
    right: 20vw;
    z-index: 9999;
    background-color: #2f5b7c;
}

.loginValidMessage{
    display: inline-block;
    margin-top: 10px;
    color: white;
}

.userInput{
    display: inline-block;
    width: 65%;
    margin-top: 6px;
    margin-right: 1vw;
}

.loginButton{
    width: 30%;
    background-color: #009e9e;
    color: 	white;
    padding: 12px;
    margin: 8%;
    display: inline-block;
}

.loginButton:hover {
    background-color: turquoise;
    color:white;
}

.SignInButton{
    width: 30%;
    background-color: #009e9e;
    color: 	white;
    padding: 12px;
    margin: 8%;
    display: inline-block;
}

.SignInButton:hover {
    background-color: turquoise;
    color:white;
}

label {
    /* display: inline-block; */
    float: left;
    color: white;
    width: 25%;
    margin-top: 6px;
    font-size: 1.2vw;
}
