.App {
    text-align: center;
    overflow: hidden;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;

    margin: 0;
    padding: 0;
}

.mainBody {
    width: 100%;
    min-height: 1px;
    display: flex;
    flex-grow: 1;
}

.outerMapDiv {
    position: relative;
    display: inline-block;
    flex-grow: 1;
    min-width: 1px;
}

.innerMapDiv {
    position: relative;
    width: 100%;
    height: 100%;
}

.popupBox {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    z-index: 30;
}

.popupBox > span:first-of-type {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.popupBox > *:last-child {
    flex-grow: 1;
}

.popupBox_title {
    justify-self: flex-start;
    margin: 24px 0 0 0;
    line-height: 24px;
    font-size: 24px;
}

.popupBox_instructions {
    max-width: 80%;
    text-align: left;
}

